body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h6 {
    color: red;
}

nav {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.pizza-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.menu-item {
    width: calc(33.33% - 20px);
    text-align: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.nav-links {
    padding-left: 150px;
    align-item: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 10px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    text-decoration: underline;
}

input[type="text"] {
    height: 32px;
    width: 600px;
    padding: 10px;
    font-size: 16px;
    border: none;
}

#main {
    display: flex;
    flex-wrap: wrap;
    gap: 0px;
}

#sidebar {
    background-color: #f4f4f4;
    padding: 20px;
}

#main-scrollable-container {
    padding: 20px;
    flex-grow: 1;
}

#backimg {
    width: 100%;
    height: auto;
    max-height: 100px;
    object-fit: cover;
}

.pizza-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.pizza-row {
    display: flex;
    flex-grow: 1;
}

.pizza-row img {
    width: calc(33.33% - 20px);
    height: auto;
}

#menu-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
}

.nav-links li a:hover {
    text-decoration: underline;
}

.nav-links li:nth-child(2) a,
.nav-links li:nth-child(3) a {
    color: red;
}