* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-right: 10px;
}

.nav-links li:last-child {
    margin-right: 0;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
}

input[type="text"] {
    height: 48px;
    width: 812px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"]::placeholder {
    color: #999;
}

#main {
    display: flex;
}

#logos {
    width: 298px;
    height: 298px;
    top: 32px;
    left: 33px;
    gap: 0px;
    opacity: 0px;
}

#sidebar {
    background-color: #ddd;
    width: 200px;
    padding: 20px;
}

#sidebar h2 {
    margin-bottom: 10px;
}

#sidebar ul {
    list-style-type: none;
}

#sidebar ul li {
    margin-bottom: 5px;
}

#sidebar ul li a {
    color: #333;
}

#main-scrollable-container {
    flex-grow: 1;
    padding: 20px;
}

.pizza-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-gap: 20px;
}

.pizza-row {
    text-align: center;
}

.pizza-row img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.pizza-row h3 {
    margin-top: 10px;
}

.pizza-row p {
    margin-top: 5px;
    font-weight: bold;
}

.nav-links a[href="signup"],
.nav-links a[href="login"] {
    color: red;
}