body {
    font-family: Arial, sans-serif;
}

#banking {
    background-color: lightblue;
}

#railway {
    background-color: lightcoral;
}

#upsc {
    background-color: lightskyblue;
}

#ssc {
    background-color: lightpink;
}

h1 {
    color: indianred;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    text-align: center;
}

.subject-container {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.subject-container div {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border-radius: 5px;
    cursor: pointer;
}

.subject-container div:hover {
    background-color: #e0e0e0;
}

.subject-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.subject-container button {
    padding: 10px 20px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.subject-container button:hover {
    background-color: #e0e0e0;
}

#question {
    font-size: 24px;
    margin-bottom: 20px;
}

#options {
    list-style-type: none;
    padding: 0;
}

#options li {
    margin-bottom: 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    padding: 10px;
}

#options li:hover {
    background-color: #f0f0f0;
}

#submitBtn {
    background-color: green;
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

.correct {
    color: green;
}

.incorrect {
    color: red;
}